.glassbox {
    background: rgba(255, 255, 255, 0.1); // Fond semi-transparent
    border-radius: 15px;
    padding: 20px;
    backdrop-filter: blur(10px) brightness(1.2); // Effet de flou et ajustement de la luminosité
    border: 1px solid rgba(255, 255, 255, 0.2); // Bordure translucide
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2); // Ombre douce
    transition: all 0.3s ease; // Transition pour les effets d'interaction
    position: relative;
    overflow: hidden;

    &:hover {
        box-shadow: 0 12px 36px rgba(0, 0, 0, 0.3); // Accentuer l'ombre au survol
        transform: translateY(-5px); // Effet de levée au survol
    }

    h3 {
        margin-bottom: 15px;
        color: #0affef;
        font-family: 'Orbitron', sans-serif;
        text-transform: uppercase;
        text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6); // Style pour les titres
    }

    .list {
        display: flex;
        justify-content: space-between;

        ul {
            list-style: none;
            padding: 0;

            li {
                color: #fff;
                font-size: 1rem;
                margin-bottom: 10px;
                display: flex;
                align-items: center;

                i {
                    margin-right: 10px;
                    color: #0affef;
                }
            }
        }
    }

    .button {
        background: linear-gradient(145deg, #3a3a3a, #2a2a2a);
        color: #0affef;
        border: none;
        padding: 0.6rem 1rem;
        border-radius: 50px;
        cursor: pointer;
        font-size: 0.9rem;
        box-shadow: 4px 4px 10px #1a1a1a, -4px -4px 10px #3a3a3a;
        text-shadow: 0 0 5px #0affef, 0 0 10px #0affef, 0 0 20px #0affef;
        transition: all 0.3s ease;
        margin-top: 10px;

        &:hover {
            background: linear-gradient(145deg, #2a2a2a, #3a3a3a);
            box-shadow: 0 0 10px #0affef, 0 0 20px #0affef, 0 0 40px #0affef;
            color: #fff;
        }
    }
}