/* src/styles/components/_modal.scss */

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.8); // Assurez-vous que le fond du modal est sombre et semi-transparent
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.modal-content {
    background: #2a2a2a; // Correspond au fond sombre de votre application
    padding: 20px;
    border-radius: 8px;
    width: 60%;
    max-width: 70%;
    height: 60%;
    max-height: 60%;
    width: 100%;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
    color: #fff; // Texte en blanc pour correspondre au style général
    border: 1px solid #444; // Une bordure subtile pour bien délimiter le modal
    font-family: 'Arial', sans-serif; // Assurez-vous d'utiliser la même police que le reste de l'application
}

.close-button {
    background: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    position: absolute;
    right: 20px;
    top: 20px;
    font-size: 14px;
}

.close-button:hover {
    background: #0056b3; // Ajouter un effet de survol cohérent
}