.home {

    .homeContent {
      margin: 6px 0 6px 12px;
      background: linear-gradient(85deg, rgb(51, 51, 51) 35%, transparent 90%);
      min-height: $minHeight;
      width: 100%;
      min-height: 500px;
      border-top: 0.3px solid rgba(255, 255, 240, 0.664);
      border-left: 0.3px solid rgba(255, 255, 240, 0.685);
      border-radius: $borderRadius;
      position: relative;
      overflow: hidden;
     
      
      &:after {
        content: '';
        position: absolute;
        height: 100%;
        width: inherit;
        background: url('../../media/matronche2.jpg') no-repeat center/cover;
        filter: grayscale(100%);
        background-position: 70px -200px;
        z-index: -1;
        filter: brightness(70%);
      
      }
  
      .content {
        position: absolute;
        top: 15%;
        left: 10%;
        font-family: $font-1;
        
        h1 {
          font-size: 5rem;
          font-family: $font-3;
          color: $color-5;
          text-transform: uppercase;
          text-shadow: 3px 6px 2px $black;
        }
        h2 {
          font-size: 2.5rem;
          padding: 1.5rem 0 7rem;
          color: $color-3;
          text-shadow: 1px 4px 1px $black;
        }
        
          a {
            font-size: 1.2rem;
            color: white;
            padding: 1rem 2rem;
            border-radius: $borderRadius;
            box-shadow: 0 5px 1px rgb(15, 15, 15);
            transition: 0.2s ease;
            
            &:hover {
              background: $color-4;
            }
          
        }
      }
    }
  }
  @media screen and (max-width: 850px){
    .sidebar {
      margin-bottom: 10px !important ;
    }
  }
  @media screen and (max-width:580px){
    .homeContent {
      &:after {
      background: url('../../media/matronche2.jpg') no-repeat 40% 30%/cover !important;
      filter: grayscale(100%);
      }
      h1 {
        font-size: 3rem !important;
      }
      h2 {
        font-size: 1.8rem !important;
      }
    }
  }
  body {
     background-image: radial-gradient(circle at center center, rgba(33,33,33,0),rgb(33,33,33)),repeating-linear-gradient(135deg, rgb(33,33,33) 0px, rgb(33,33,33) 1px,transparent 1px, transparent 4px),repeating-linear-gradient(45deg, rgb(56,56,56) 0px, rgb(56,56,56) 5px,transparent 5px, transparent 6px),linear-gradient(90deg, rgb(33,33,33),rgb(33,33,33));
  }