.hobbies {
     background: #1e1e1e;
     border-radius: 12px;
     padding: 20px;
     
     box-shadow: inset 6px 6px 12px #141414, inset -6px -6px 12px #282828;
     transition: transform 0.3s ease, box-shadow 0.3s ease;
     grid-area: H;
   
     h3 {
       margin-bottom: 15px;
       color: #fff;
       text-transform: uppercase;
       text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
     }
   
     ul {
       li {
         color: #fff;
         margin-bottom: 10px;
         i {
           color: #fa8231;
           margin-right: 10px;
         }
       }
     }
   }
   